@import 'reset.scss';

.title__container--yourcart {
    text-align: center;
    margin-top: 20px;
}

.div__container--backbtn {
    max-width: 100%;
    text-align: center;
    margin-top: 60px;
}

.section__cartitems {
    height: auto;
    width: 100%;
    .section__container--cartitems {
        height: auto;
        width: 80%;
        margin: 60px auto;
        margin-bottom: 30px;
        padding: 5px;
        border: 2px solid rgb(235, 235, 235);
        .section__container--clearcartbtn {
            height: auto;
            width: 100%;
            text-align: right;
        }
    }
}

.cart__p--noitemsadded {
    text-align: center;
    margin: 20px auto;
}

.section__container--videogame {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    .cartfunctions__div {
        text-align: center;
    }
    .section__description--videogame {
        grid-template-rows: auto auto;
        .section__title--videogame {
            width: 200px;
        }
        .section__price--videogame {
            font-weight: 500;
        }
    }
}

.cart__items--add {
    font-size: 1em;
    margin: 0 5px;
}

.cart__items--remove {
    font-size: 1em;
}

.cart__item--quantity {
    height: auto;
    width: 100px;
    margin: 10px 0;
    text-align: center;
    font-weight: 700;
}

.cart__items--pricecontainer {
    text-align: center; 
    margin: 40px auto;
    .cart__p--totalprice {
        font-weight: 700;
        margin: 20px auto;
    }
}

.checkout__container--btn {
    height: auto;
    width: 100%;
    text-align: center;
    margin: 30px auto;
}

@media screen and (min-width: 1440px) {
    .section__cartitems {
        .section__container--cartitems {
            max-width: 1200px;
        }
    }
}